<!DOCTYPE html>
<html> 
  <head>

      <title> Control Panel Veckans Reklam</title>
      <meta name="description" content="Demo">
      <meta name="author" content="Jamal">
      <meta name="viewport" content="width=device-width">
      <link rel="Stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="header">
       <a href="/controlpanel" class="logo">Veckans Reklam (Control Panel) </a>
    <div class="header-right">
       <a class="active" href="/">Home</a>
   </div>
    </div>

    <div class="sidenav">
      <a href="http://localhost:1111/controlpanel/erbjudande">Erbjudande</a>
      <a href="http://localhost:1111/controlpanel/skapaerbjudande">Skapa ett erbjudande</a>
      <a href="http://localhost:1111/controlpanel/meddelande">Medelande</a>
    </div>
    <div class = "maincp"> 
    {{{body}}}
    </div>

  </body>
</html>