<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>Veckans Reklam</title>
  <meta name="description" content="Demo">
  <meta name="author" content="Jamal">
  <meta name="viewport" content="width=device-width">
  <link rel="Stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Srisakdi" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Slab" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

</head>

<body> 

<div class="header"> 
<div class ="logo-header"> 
  <p href ="/" class="logo"> Veckans Reklam </p>  <img src="/static/img/ico.png" class="ico">
</div>
<div class ="menu"> 
  <a class ="menu-buttons" href = "/"> Home </a> 
<a class ="menu-buttons" href = "http://localhost:1111/about "> Om oss </a> 
<a class ="menu-buttons" href= "http://localhost:1111/kontakta "> Kontakta oss</a>
</div>
</div>

  {{{body}}}
<footer class="footer">
     <p class ="footer"> &copy; Copyright 2019 Jamal Al Mlah </p>
</footer>

</body>
</html>