<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>Veckans Reklam</title>
  <meta name="description" content="Demo">
  <meta name="author" content="Jamal">
  <meta name="viewport" content="width=device-width">
  <link rel="Stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Srisakdi" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Slab" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">


</head>

<body> 
  <div class="header">
    <div class="logo-header"> 
  <a href="/" class="logo"></a>Veckans Reklam <img src="/static/img/ico.png" class ="ico"></a>
    </div>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/kontakta">Contact</a>
    <a href="/about">About</a>
  </div>
</div>

  {{{body}}}
<footer class="footer">
     <p class ="footer"> &copy; Copyright 2019 Jamal Al Mlah </p>
</footer>

</body>
</html>