<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>Veckans Reklam</title>
  <meta name="description" content="Demo">
  <meta name="author" content="Jamal">
  <meta name="viewport" content="width=device-width">
  <link rel="Stylesheet" href="/static/style.css">

</head>

<body> 
  <div class="header">
  <a href="/" class="logo">Veckans Reklam <img src="/static/img/ico.png" class ="ico"></a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>

  {{{body}}}
<footer class="footer">
     <p class ="footer"> &copy; Copyright 2019 Jamal Al Mlah </p>
</footer>

</body>
</html>