<div class =" about-box">
  <h1> Om oss </h1>
</div>
<div class="about"> 
<h1> 
En helt gratis hemsida som hjälper dig att hitta det bästa erbjudande hemifrån via din mobil eller din dator. 
Hemsidan är gjort av en elev som läser 3:an teknik i VBU , Ludvika. 
<hr> 
<h1 class="kontakta-text2"> Kontakta oss via sociala medier</h1>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>

</h1>
</div>