<div class ="erbjudande-container-annons">

<div class="company-container-annons">
  
{{#each deals}}
<div class ="box-annons"> 
<p class ="link-text"> {{title}} </p> <br />
<img class="annons-bild" src ="/static/uploads/{{bild}}">
<p> {{text}} </p>

<div class="pris"> 
<p class="pris-font"> {{pris}} </p>

</div>
 <div id="share-buttons"> 
  <!-- Facebook --> 
 <a href="https://www.facebook.com/sharer.php?u=https://frinmash.blogspot.com" target="_blank">
 <img src="https://4.bp.blogspot.com/-raFYZvIFUV0/UwNI2ek6i3I/AAAAAAAAGSA/zs-kwq0q58E/s1600/facebook.png" alt="Facebook" /></a>
  <!-- Twitter --> 
  <a href="https://twitter.com/share?url=https://frinmash.blogspot.com&text=Simple Share Buttons" target="_blank">
  <img src="https://4.bp.blogspot.com/--ISQEurz3aE/UwNI4hDaQMI/AAAAAAAAGS4/ZAgmPiM9Xpk/s1600/twitter.png" alt="Twitter" />
  </a>   
  <!-- Email --> <a href="mailto:?Subject=FrinMash&Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://frinmash.blogspot.com">
  <img src="https://4.bp.blogspot.com/-njgKtNLrPqI/UwNI2o-9WfI/AAAAAAAAGR4/f8da1gBgyLs/s1600/email.png" alt="Email" /></a> </div>

</div>
<br />
{{/each}}

</div>
</div>
