<div class ="erbjudande-container-annons">

<div class="company-container-annons">
  
{{#each deals}}
<div class ="box-annons"> 
<p class ="link-text"> {{title}} </p> <br />
<img class="annons-bild" src ="/static/uploads/{{bild}}">
<p> {{text}} </p>
</div> 
{{/each}}
</div>
</div>
