<div class ="erbjudande-container">
<h1 class = "company-title"> {{fnamn}} </h1> 

<div class="company-container">
  
{{#each deals}}
<div class ="box"> 
<p class ="link-text"> {{title}} </p> <br />
<img src ="/static/img/ikea.jpeg">
<p> {{text}} </p>
</div> 
{{/each}}
</div>
</div>
