<h1 class = "company-title"> Ikea </h1> 

<div class ="erbjudande-container"> 
<div class ="box"> 
<h1>Ikea </h1>
<img src ="/static/img/ikea.jpeg">
<p> Ikea </p>
</div> 
<div class ="box"> 
<h1>exempel 1 </h1>
<img src ="#">
<p> ingen viktig </p>
</div>
<div class ="box"> 
<h1>exempel 1 </h1>
<img src ="#">
<p> ingen viktig </p>
</div>
<div class ="box"> 
<h1>exempel 1 </h1>
<img src ="#">
<p> ingen viktig </p>
</div>
<div class ="box"> 
<h1>exempel 1 </h1>
<img src ="#">
<p> ingen viktig </p>
</div>
</div>