<div class ="controlpanel-box3"> 
<a href = "/controlpanel/erbjudande"> 
<div class = "cp-box"> 
<img class = "cp-box-img" src ="/static/img/deals.png">
</div>
</a>

<a href = "/controlpanel/skapaerbjudande"> 
<div class = "cp-box"> 
<img class = "cp-box-img" src ="/static/img/create.png">
</div>
</a>

<a href="/controlpanel/registrera"> 
<div class = "cp-box"> 
<img class = "cp-box-img" src ="/static/img/rg.jpg">
</div>
</a>
<a href="/controlpanel/meddelande">
<div class = "cp-box"> 
<img class = "cp-box-img" src ="/static/img/ms.png">
</div>
</div>
</a>