<div>
<div> 
<p> företagets namn: </p> 
<button> Ta bort</button>
<button> ändra </button>
</div>
<div> 
<p> företagets namn: </p> 
<button> Ta bort</button>
<button> ändra </button>
</div>
<div> 
<p> företagets namn: </p> 
<button> Ta bort</button>
<button> ändra </button>
</div>
<div> 
<p> företagets namn: </p> 
<button> Ta bort</button>
<button> ändra </button>
</div>
</div>