<div class="controlpanel-box">
<div class ="controlpanel-box2"> 
{{#each deals}}

<div class="row">
  <div class="column">
<p class ="link-text"> {{title}} </p>
<div class="erbjudande-button">
<a class="tabort-button" href = "/controlpanel/erbjudande/tabort/{{_id}}"> Ta bort </a>
<a class="tabort-button" href = "/controlpanel/erbjudande/edit/{{_id}}"> Ändra </a>
</div>
  </div>
 
{{/each}}
</div>