<div class="controlpanel-box">
<div class ="controlpanel-box2"> 
<p> företagets namn: </p> 
<button> Ta bort</button>
<button> ändra </button>
</div>
<div class ="controlpanel-box2"> 
<p> företagets namn: </p> 
<button> Ta bort</button>
<button> ändra </button>
</div>
<div class ="controlpanel-box2"> 
<p> företagets namn: </p> 
<button> Ta bort</button>
<button> ändra </button>
</div>
<div class ="controlpanel-box2"> 
<p> företagets namn: </p> 
<button> Ta bort</button>
<button> ändra </button>
</div>
</div>