<div class ="erbjudande-container">
<h1> Lättare väg till veckans annonser </h1>

<div class="company-container">
{{#each deals}}
<div class ="box"> 
<a href = "/company/{{fnamn}}" class ="link-text"> {{title}} </a> <br />
<img src ="/static/img/ikea.jpeg">
<p> {{text}} </p>
<a href = "/company/{{fnamn}}" class ="read-button"> Läs mer </a> <br />
</div> 
{{/each}}
</div>
</div>