<div class="kontakta-box">
<div class="kontakta1">
    <form method ="post" paction="/kontakta">
<h1 class="kontakta-text2"> Skicka gärna ett meddelande till oss ..</h1>
Förnamn: <br /> <input type="text" placeholder="Förnamn.." name="firstname"> <br>
Efternamn: <br /> <input type="text" placeholder="Efternamn.." name="lastname"> <br>
E-post address: <br /> <input type="text" placeholder="Din e-post address .." name="email"> <br>

    <label for="subject">Meddelande <br /></label>
    <textarea  name="meddelande" placeholder="Ditt meddelande.." style="height:200px"></textarea>

    <input class ="submit" type="submit" value="Skicka">
  </form>

 
 
<h1 class="kontakta-text2"> Kontakta oss via sociala medier</h1>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>

    

</div>
</div>
