
<div class ="login-form" >
      <form action="/controlpanel/login" method="post" target="_blank">

      <p class ="login-text"> Admin Login </p>
     <div class ="login-icon">
      <i class="fas fa-user-tie"></i>
      </div>
    <br />
          <p> {{meddelande}} </p>
<br />
      <input type="text" name="UserName" placeholder="UserName"><br>
      <input type="text" name="Password" placeholder="Password"><br>
      <input type="submit" value="Logga in">
      </form>
      </div>