<div class="controlpanel-box">
<div class ="controlpanel-box2"> 
<p> Meddelande: </p> 
<button> Ta bort</button>
</div>
<div class ="controlpanel-box2"> 
<p> Meddelande: </p> 
<button> Ta bort</button>
</div>
<div class ="controlpanel-box2"> 
<p> Meddelande: </p> 
<button> Ta bort</button>
</div>
<div class ="controlpanel-box2"> 
<p> Meddelande: </p> 
<button> Ta bort</button>
</div>
</div>