  <div class="registrera"> 
      <form action="/controlpanel/Registrera" method="post" target="_blank">
    <br />
       UserName:<br>
      <input type="text" name="UserName" placeholder="UserName"><br>
      E-postadress:<br>
      <input type="text" name="Email" placeholder="E-post"><br>
      Password:<br>
      <input type="password" name="Password" placeholder="Password"><br>
      <input type="submit" value="Registera">
      </form>
      </div>