<div class ="form" >
<form action="/skapaerbjudande" method="post" target="_blank">
  Företags namn:   <input type="text" name="fnamn"><br>
  Erbjudandes title: <input type="text" name="title"><br>
  Text:<br> <textarea name="text" > </textarea>
  <input type="file" name="file"> <br>
  <input type="submit" value="Submit">
</form>
</div>
 