<div class ="form" >
<form action="/action_page.php" method="get" target="_blank">
  Företags namn:   <input type="text" name="fname"><br>
  Erbjudandes title: <input type="text" name="lname"><br>
  Text:<br> <textarea > </textarea>
  <input type="file" name="file"> <br>
  <input type="submit" value="Submit">
</form>
</div>
 