<div class ="form" >
<form action="/skapaerbjudande" method="post" enctype="multipart/form-data">
  Företags namn: <br /> <input type="text" name="fnamn"><br>
  Erbjudandes title: <br /> <input type="text" name="title"><br>
  Text:<br> <textarea name="text" > </textarea>
  <input type="file" name="file"> <br>
  <input type="submit" value="Submit">
</form>
</div>
 