p {
color: red;

}
body {
margin: 0;


}

.header {
  overflow: hidden;
  background-color: #aca5a5;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4%;
  background-color: rgb(53, 57, 63);
  color: white;
  text-align: center;
  line-height: 4%
}
p.footer {
  text-align: center;
  font-size: 16px ;

}

.logo:hover {
  background: #aca5a5;
}
textarea {

height: 400px;
width: 1000px;

}
.form{
width: 1100px;
margin: 50px auto;


}
.box{
width: 200px;
height: 600px;
border: 5px solid black;
margin: 50px 50px 0 50px;
text-align: center;

}
img {
  width: 150px;
  height: 150px;
}
.erbjudande-container{
display: flex;

}
.company-title{
  text-align: center;
}
.link-text{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
color: black;
}