* {
  box-sizing: border-box;

}
p {
color: red;
font-family: 'Slabo 27px', serif;


}
body {
background-color: #7d8ea0;
margin: 0;
font-family: 'Slabo 27px', serif;
background: url("/static/img/bk home.jpg") no-repeat;
background-size: 100% 100%;
}
.button{
margin: 5px auto; 

}
.sidenav-btn{
display: block;
  width: 160px;
  height: auto;
  border: 2px solid black;
  margin: 6px auto;
background: #4CAF50;
color: white;
font-size: 20px;
text-align: center;
line-height: 50px;
text-decoration: none;
}

.header {
  background-color: #020304;
  padding: 20px 10px;
height: 80px;
width: 100%;
z-index: 1000;
position: fixed;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right a:hover {
  background-color: rgb(113, 233, 117);
  color: white;
}

.header a.active {
  background-color: #4CAF50;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2%;
  background-color: #020304;
  color: white;
  text-align: center;
  padding: 15px;
}
p.footer {
  text-align: center;
  font-size: 16px ;

}

.logo:hover {
  background: #aca5a5;
}
textarea {

height: 400px;
width: 1000px;

}
.form{
width: 1100px;
margin: 90px auto;


}
.box{
width: 200px;
height: 500px;
box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.274), 0 8px 24px 0 rgba(0, 0, 0, 0.19);

border: 1px ridge black;
margin: 0 50px 50px 50px;
text-align: center;
background: rgba(255, 255, 255, 0.747);


}
img {
  width: 150px;
  height: 150px;
}
.erbjudande-container{
  font-family: 'EB Garamond', serif;
  display: flex;
  padding-top: 75px;
  flex-direction: column;
  align-items: center;

}
.company-container{
width: 1500px;
flex-wrap: wrap;
display: flex;

}
.company-title{
  margin: 20px auto;
  color: black;
  font-size: 25px;
  text-align: center;
}
.link-text{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
color: rebeccapurple;
}
.controlpanel-box{
  
  margin: 90px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 1100px;
padding: 50px;
background-color: rgba(216, 194, 194, 0.034);
}
.controlpanel-box2{
  margin: 5px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 1000px;
}

.sidenav {
  display: inline-block;
  height: 675px;
  width: 180px;
  background-color: #111;
  padding-top: 20px;
  position: fixed;
  margin-top: 80px;

}



.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.maincp  {
  display: inline-block;
  float: right;
  width: 1300px;
  height: 100%;
}
input,
.btn {
  text-align: center;
  width: 500px;
  padding: 12px;
  border: solid 1px;
  border-radius: 4px;
  margin: 5px 0 auto;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
  
}

body.login-page {
  background-image: url("/static/img/bk.jpg");
  text-align: center;
  background-size: auto;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  .read-button{
    background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-decoration: none; 
  width: 80px;
  height: 30px;
  padding: 7px;
  border: solid 1px rgb(14, 13, 13);
  border-radius: 4px;
  margin: 5px 5px auto;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  text-decoration: none; 
  text-align: center;
  }
.tabort-button{
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-decoration: none; 
  width: 65px;
  height: 30px;
  padding: 7px;
  border: solid 1px sienna;
  border-radius: 4px;
  margin: 5px 5px auto;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  text-decoration: none; 
  text-align: center;

}
.login-text{
  font-family: 'Slabo 27px', serif;
font-size: 30px;
color: #212529;
font-weight: bold;

}
  .login-form {
    padding: 50px;
    height: 650px;
    border: solid 1px;
    width: 700px;
    margin: 50px auto;
    background-color:rgba(71, 155, 250, 0.322);
}
.fas{
font-size: 90px;
color: #212529;
margin: 20px auto;

}

.registrera{
  width: 1100px;
  margin: 90px auto;
  text-align: center;
  padding: 20px;
  font-size: 25px;

}
.login-icon{
  margin: 0 auto;
  border-radius: 50%;
  border: solid 2px #212529;
  width: 130px;
  height: 130px;
  background-color: white;
}
.ico {
font-size: 10px;
height: 30px;
width: 30px;

}
.kontakta-box{
  display: flex;

}

.kontakta1 {
  width: 1100px;
  margin: 120px auto;
  text-align: center;

}
.about-box{
  padding: 110px;
  width: 100%;
  height: 200px;
  background: #4CAF50;
  z-index: 1000;
  text-align: center;
color: black;
font-size: 20px;
font-family: 'Srisakdi', cursive;

}
.about{
  width: 900px;
  margin: 120px auto;
  text-align: center;
  font-size: 16px;
  font-family: 'Josefin Slab', serif;
}
.kontakta-text2{
  font-family: 'Srisakdi', cursive;
  font-size: 19px;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Set a specific color for each brand */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.logo-header{
background-color: #020304;
font-size: 29px;
display: inline-block;
color: white;
}
.erbjudande-button{

  flex-direction: row-reverse;
  display: flex;
}
.column {
  margin: 5px 0px 5px auto;
  background-color:#aaa;
  display: flex;
  justify-content: space-between;
align-items: center;
}
.controlpanel-box3{
width: 800px;
height: 150%;
display: flex;
margin: 20px auto;
flex-wrap: wrap;
text-align: center;
}
.cp-box{
width: 250px;
height: 250px;
background-color: black;
margin: 80px 25px auto;
}
.cp-box-img{

  width: 150px;
  height: 150px;
  padding: 2px;
  margin: 40px auto;
}

.title-deal{
margin: 2px auto;
  font-size: 25px;
  font-weight: bold;
color: black;

}

.erbjudande-container-annons{

  font-family: 'EB Garamond', serif;
  display: flex;
  padding-top: 75px;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.box-annons{
  width: 400px;
  height: auto;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.274), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
  border: 1px ridge black;
  margin: 0 50px 50px 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.747);
}
.company-container-annons{
  margin: 50px auto;
  width: 1500px;
  flex-wrap: center;
  display: flex;
  justify-content: center;
}

.annons-bild{
width: 200px;
height: 200px;
box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.274), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
}

